/* Write your CSS here! */
/* element */
img {
    width: 200px;
    padding: 5px;
    margin-bottom:0px;
}
header {
    height: auto;
    padding: 0px;
    margin:0px
}
body{
    background:peachpuff;
    font-size: 12pt;
    margin: 8px;
    padding: 10px;
    
}
main{
    color: navy;
    
}
footer{
    background:coral;
    color: grey;
    margin:0 px;
    padding:10px;
    text-align:center;
}
h1 {
    font-size: 2rem;
    font-family: fantasy;
}
h2 {
    color:navy;
    text-align: left;
    text-decoration: underline;
}
 h3 {
    font-weight: bold;
    margin:10px;
}
h4 {
    margin:10px;
    line-height: .5;
} 
b {
    font-style: oblique;
}
/* id */
#mainHeading {

    color: red;
    text-align:center;
   
 }
 
 #testP{
    font-style: italic;
}

/* classes */

 .funParagraph{
     color:green;
     
 }
.centerimg {
    float: right;
    margin-left: 70%;
    margin-right: auto;
    width: 20%;
    height: auto;
  }
  
  
